.card-width {
  font-size: 35px;
  color: black;
  @media (max-width: 768px) { // Adjust the breakpoint as needed
    font-size: 20px;
  }
}

.player {
  max-width: 300px;
  width: 60%;

  @media (max-width: 768px) {
    width: 50%;
  }
}


.cart-container{
  width: 100px;
  height: 120px;

  @media (max-width: 768px) { // Adjust the breakpoint as needed
    width: 30px; // Smaller width for mobile
    height: 60px; // Smaller height for mobile
  }
}

::ng-deep .custom-gap {
  gap: 1rem;
  @media (max-width: 768px) {
    gap: 0.1rem;
  }
}
