<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let player of players">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ player.name }}</h5>
          <div *ngFor="let card of player.cards" class="border-bottom">
            <p class="card-text">
              {{ card.value }}
              <span class="card-width" [ngClass]="{'text-danger': card.suit === 'hearts' || card.suit ==='diamond'}" [innerHTML]="card.icon"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <button class="btn btn-primary" *ngIf="!goToSecondPhase" (click)="onNextClick()">Piocher une carte pour : {{getPlayerName()}}</button>
  </div>
</div>
