<div class="container">
  <div class="mt-1" *ngIf="this.numSips!==13">
    <button class="btn btn-primary" (click)="onDisplayCard()">Suivant</button>
  </div>
  <div class="mt-1" *ngIf="this.numSips===13">
    <button class="btn btn-primary" (click)="restartGame()">Recommencer</button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>tu bois</h4>
      <div class=""*ngFor="let card of youdrink">
        <p class="card-text">
            {{ card.value }}
            <span class="card-width" [ngClass]="{'text-danger': card.suit === 'hearts' || card.suit ==='diams'}" [innerHTML]="card.icon"></span>
            &nbsp;<span class="card-text">tu bois {{ card.Sips }} gorgées</span>
          </p>
      </div>
    </div>
    <div class="col-md-6">
      <h4>tu donnes</h4>
      <div class=""*ngFor="let card of takedrink">
        <p class="card-text">
            {{ card.value }}
            <span class="card-width" [ngClass]="{'text-danger': card.suit === 'hearts' || card.suit ==='diams'}" [innerHTML]="card.icon"></span>
            &nbsp;<span class="card-text">donne {{ card.Sips }} gorgées</span>
          </p>
      </div>
    </div>
  </div>
</div>

