<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>You Drink</h4>
      <div class="card" *ngFor="let card of youdrink">
        <div class="card-body">
          <h5 class="card-title">{{ card.number }} of {{ card.suit }}</h5>
          <p class="card-text">You Drink {{ numSips }} sip</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>You Take a Drink</h4>
      <div class="card" *ngFor="let card of takedrink">
        <div class="card-body">
          <h5 class="card-title">{{ card.number }} of {{ card.suit }}</h5>
          <p class="card-text">You Drink {{ numSips }} sip</p>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="onNextClick()">Suivant</button>
</div>
