.card-container {
  max-width: 70px !important;
  &.left-overlap {
    margin-left: -35px;
  }

  @media (max-width: 768px) { // for mobile
    max-width: 40px !important;
    &.left-overlap {
      margin-left: -20px;
    }
  }
}
