@if (isVisible()) {
  <div class="modal-backdrop" (click)="onDismiss()"></div>
  <div class="modal-container" role="dialog" aria-modal="true">
    <div class="modal-content">
      <div class="modal-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.398-.588-2.885-.72-3.935zM13.902 3.04c-.133 1.05-.388 2.537-.72 3.934a2 2 0 0 0 .72-3.934z"
          />
        </svg>
      </div>

      <h3 class="modal-title" [translate]="'accountGate.title'"></h3>

      <p class="modal-description" [translate]="'accountGate.description'"></p>

      <div class="modal-actions">
        <button
          type="button"
          class="btn btn-primary btn-action"
          (click)="onCreateAccount()"
          [translate]="'accountGate.createAccount'"
        ></button>

        <button
          type="button"
          class="btn btn-outline-secondary btn-action"
          (click)="onLogin()"
          [translate]="'accountGate.login'"
        ></button>
      </div>

      <button
        type="button"
        class="btn btn-link btn-dismiss"
        (click)="onDismiss()"
        [translate]="'accountGate.later'"
      ></button>
    </div>
  </div>
}
