<div class="player-tile">
  @if (player && this.gameSrv.isNewGame()) {
    <button type="button" class="player-tile__remove" aria-label="Supprimer" (click)="deletePlayer(player)">×</button>
  }
  <img class="player-tile__avatar" alt="{{ player?.name }}" src="{{ player?.avatarSrc }}" />
  <span class="player-tile__name">{{ player?.name }}</span>
  @if (this.gameSrv.isSummaryMode() && player && player.sips) {
    <div class="player-tile__badges">
      <span class="player-tile__badge player-tile__badge--drink">
        {{ player.sips['drunk'] }} <fa-icon [icon]="['fas', 'wine-glass']"></fa-icon>
      </span>
      <span class="player-tile__badge player-tile__badge--give">
        {{ player.sips['given'] }} <fa-icon [icon]="['fas', 'wine-glass']"></fa-icon>
      </span>
    </div>
  }
</div>
