<div class="container">
  <div class="row">
    <div class="col-md-5 player" *ngFor="let player of this.gameSrv.game.players">
      <div class="card">
        <div class="card-body">
          <div class=" d-flex flex-column gap-1">
            <div class="text-center d-flex align-items-center justify-content-center gap-1">
              <label for="avatar" class="h5">
                <img alt="avatar" class="img-thumbnail" src="{{ player.avatarSrc }}">
                <span class="me-1">{{player.name}}</span>
                <span *ngIf="displaySwallow(player)">{{getSwallowCnt(player)}}  <i class="fa-solid fa-whiskey-glass"></i></span>
              </label>
            </div>
            <div class="card-group d-flex">
              <div *ngFor="let card of player.cards">
                <app-playing-card [card]="card"></app-playing-card>
              </div>
              <div *ngFor="let count of [].constructor(5); let i = index">
                <app-playing-card
                  *ngIf="this.gameSrv.game.turn <= i && (player.cards.length || 0 ) < i "></app-playing-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
