<div class="container">
  <div class="row gap-1 justify-content-evenly">
    <div class="col-md-5 player p-0" *ngFor="let player of this.gameSrv.game.players">
      <div class="card">
        <div class="card-body p-2">
          <div class="d-flex flex-column gap-1">
            <label for="avatar" class="align-self-center">
              <img alt="avatar" class="img-thumbnail" src="{{ player.avatarSrc }}">
              <span class="ms-1 fs-5">{{player.name}}</span>
              <span *ngIf="displaySwallow(player)">{{getSwallowCnt(player)}}  <i class="fa-solid fa-whiskey-glass"></i></span>
            </label>
            <div class="card-group d-flex flex-nowrap justify-content-center gap-1">
              <div *ngFor="let loop of [].constructor(4); let i = index">
                <app-playing-card [card]="player.cards[i]"></app-playing-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
