<div *ngIf="card" [ngClass]="{'card-container-red' :  (card.suit === 'hearts' || card.suit === 'diams') && !card.selected,
                                 'card-container-red-selected' :  (card.suit === 'hearts' || card.suit === 'diams') && card.selected,
                                 'card-container': card.suit !== 'hearts' && card.suit !== 'diams' && !card.selected,
                                 'card-container-selected': card.suit !== 'hearts' && card.suit !== 'diams'  && card.selected,
                                                    }">
    <img [src]="card.img" [alt]="card.value + ' ' + card.suit">
</div>
<div  *ngIf="!card" class="card-container-empty">
</div>
