<div class="container">
  <form [formGroup]="playersForm" (ngSubmit)="addPlayer()" *ngIf="!allPlayersCreated" class="mb-1">
    <div class="input-group mb-1">
      <span class="input-group-text">🥃</span>
      <input type="text" class="form-control" formControlName="newPlayer" placeholder="Nom du buveur" required>
      <button *ngIf="this.playerHelper.players.length <23" type="submit" class="btn btn-primary"
              [disabled]="!newPlayer?.dirty || this.playerHelper.players.length  === 23 ">Ajouter
      </button>
    </div>
    <div *ngIf="newPlayer?.invalid && (newPlayer?.dirty || newPlayer?.touched)" class="alert alert-danger">
      <div *ngIf="newPlayer?.errors?.['required']">
        Le nom du joueur est requis.
      </div>
    </div>
  </form>
  <div class="d-flex flex-row w-60">
    <div class="w-50">
      <ul class="list-group text-start">
        <li class="list-group-item d-flex" *ngFor="let player of getPlayers().slice(0,12)">
          <app-player-list-player [player]="player"></app-player-list-player>
        </li>
      </ul>
    </div>
    <div class="w-50">
      <ul class="list-group text-start" *ngIf="getPlayers().length > 10">
        <li class="list-group-item d-flex custom-height-px" *ngFor="let player of getPlayers().slice(12)">
          <app-player-list-player [player]="player"></app-player-list-player>
        </li>
      </ul>
    </div>

  </div>
</div>
