<div class="container">
  <form [formGroup]="playersForm" (ngSubmit)="addPlayer()" *ngIf="!allPlayersCreated" class="mb-1">
    <div class="input-group mb-1">
      <span class="input-group-text">🥃</span>
      <input type="text" class="form-control" formControlName="newPlayer" [placeholder]="getNewPlayerInputPlaceholder()" required>
      <button *ngIf="this.playerHelper.isMaxPlayerNumberNotReached()" type="submit" class="btn btn-primary"
              [disabled]="!newPlayer?.dirty  && this.playerHelper.getPlayerNumber() === 23 " [translate]="'Button_Add'">
      </button>
    </div>
    <div *ngIf="(newPlayer?.invalid && (newPlayer?.dirty || newPlayer?.touched)) && newPlayer?.errors?.['required']" class="alert alert-danger">
      <span [translate]="'Label_Error_NameRequired'"></span>
    </div>
    <div *ngIf="this.playerHelper.getPlayerNumber() === 23" class="alert alert-secondary">
    <span [translate]="'Label_Error_TooMuchPlayer'"></span>
    </div>
  </form>
  <div class="d-flex flex-row col-12">
    <div class="d-flex flex-grow-1" [ngClass]="{  'w-50': getPlayers().length > 12 }">
      <ul class="list-group text-start flex-grow-1">
        <li class="list-group-item d-flex flex-grow-1" *ngFor="let player of getPlayers().slice(0,12)">
          <app-player-list-player  class="w-100" [player]="player"></app-player-list-player>
        </li>
      </ul>
    </div>
    <div class="w-50" *ngIf="getPlayers().length > 12">
      <ul class="list-group text-start" *ngIf="getPlayers().length > 12">
        <li class="list-group-item d-flex custom-height-px" *ngFor="let player of getPlayers().slice(12)">
          <app-player-list-player class="w-100" [player]="player"></app-player-list-player>
        </li>
      </ul>
    </div>

  </div>
</div>
