<div class="container">
  @if (!allPlayersCreated && this.gameSrv.isNewGame()) {
    <form [formGroup]="playersForm" (ngSubmit)="addPlayer()" class="mb-1">
      <div class="input-group mb-1">
        <span class="input-group-text">🥃</span>
        <input
          type="text"
          class="form-control"
          formControlName="newPlayer"
          [placeholder]="getNewPlayerInputPlaceholder()"
          required
        />
        @if (this.playerHelper.isMaxPlayerNumberNotReached()) {
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!newPlayer?.dirty && this.playerHelper.getPlayerNumber() === 23"
            [translate]="'Button_Add'"
          ></button>
        }
      </div>
      @if (newPlayer?.invalid && newPlayer?.dirty && newPlayer?.errors?.['required']) {
        <div class="alert alert-danger">
          <span [translate]="'Label_Error_NameRequired'"></span>
        </div>
      }
      @if (this.playerHelper.getPlayerNumber() === 23) {
        <div class="alert alert-secondary">
          <span [translate]="'Label_Error_TooMuchPlayer'"></span>
        </div>
      }
    </form>
  }
  <div class="d-flex flex-row col-12">
    <div class="d-flex flex-grow-1" [ngClass]="{ 'w-50': getPlayers().length > 12 }">
      <ul class="list-group text-start flex-grow-1">
        @for (player of getPlayers().slice(0, 12); track player.id) {
          <li class="list-group-item d-flex flex-grow-1">
            <app-player-list-player class="w-100" [player]="player"></app-player-list-player>
          </li>
        }
      </ul>
    </div>
    @if (getPlayers().length > 12) {
      <div class="w-50">
        <ul class="list-group text-start">
          @for (player of getPlayers().slice(12); track player.id) {
            <li class="list-group-item d-flex custom-height-px">
              <app-player-list-player class="w-100" [player]="player"></app-player-list-player>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
