.container {
  //margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-list{
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1, h2 {
  margin-top: 20px;
}
.player-name{
  width: 200px;
}
.player-container{
  display: flex;
  flex-direction: row;
  text-align: justify;
  gap: 0.5em;
}
