<div class="container">
  <h1>Liste des joueurs</h1>
    <ul class="list-group" *ngFor="let player of getPlayers()">
      <div class="col-8">
        <li class="list-group-item">{{ player.name }}</li>
      </div>
      <div class="col-4">
        <button class="btn btn-small btn-danger fa fa-close" type="submit" (click)="deletePlayer(player)"></button>
      </div>
    </ul>
  <h2>Ajouter un joueur</h2>
  <form [formGroup]="playersForm" (ngSubmit)="addPlayer()" *ngIf="!allPlayersCreated">
    <div class="form-group col-4">
      <input type="text" class="form-control" formControlName="newPlayer" placeholder="Nom du joueur">
    </div>
    <div *ngIf="playersForm.get('nouveauJoueur')?.hasError('required')" class="text-danger">
      Le nom du joueur est requis.
    </div>
    <div class="mt-1">
      <button type="submit" class="btn btn-primary col-2">Ajouter</button>
      <button type="submit" *ngIf="hasPlayers()" class="btn btn-secondary col-2 ms-2" (click)="beginGame()">Commencer la partie</button>
    </div>
  </form>
</div>
