/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.border-dashed{
  border-style: dashed !important;
}

//hr {
//  display: block;
//  margin-top: 0em;
//  margin-bottom: 0em;
//  margin-left: auto;
//  margin-right: auto;
//  border-style: inset;
//  border-width: 1px;
//}
