/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.border-dashed{
  border-style: dashed !important;
}
