/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.border-dashed{
  border-style: dashed !important;
}

// Custom color because bg-aquamarine does not exist
// you can use bg-(primary, secondary, success, danger, warning, info, light, dark, white) as default values
.bg-aquamarine{
  --bs-bg-opacity: 1;
  background-color: aquamarine !important;
}
